{% extends "resume/base.html" %}
{% block title %}Admin Panel{% endblock %}

{% block content %}
<div class="container">

  <div class="left">
    <div>
      <div class="photo-wrap">
        {% if profile and profile.photo %}
          <img class="photo" src="{{ profile.photo.url }}" alt="photo">
        {% else %}
          <img class="photo" src="https://via.placeholder.com/120" alt="photo">
        {% endif %}
      </div>

      <div class="name">Admin Panel</div>
      <div class="position">Редактирование сайта</div>

      <button class="btn btn-black" onclick="window.location.href='/'">На сайт</button>
      <button class="btn" onclick="window.location.href='{% url 'resume:logout' %}'">Выйти</button>
    </div>
  </div>

  <div class="right">
    <h2>Настройки профиля</h2>
    <div class="line"></div>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div style="display:grid; gap:12px;">
        <input type="text" name="full_name" placeholder="Имя" value="{{ profile.full_name }}">
        <input type="text" name="position" placeholder="Должность" value="{{ profile.position }}">
        <input type="text" name="phone" placeholder="Телефон" value="{{ profile.phone }}">
        <input type="email" name="email" placeholder="Email" value="{{ profile.email }}">

        <input type="url" name="instagram" placeholder="Instagram ссылка" value="{{ profile.instagram }}">
        <input type="url" name="telegram" placeholder="Telegram ссылка" value="{{ profile.telegram }}">
        <input type="url" name="github" placeholder="GitHub ссылка" value="{{ profile.github }}">

        <textarea name="about" placeholder="Обо мне" style="min-height:110px;">{{ profile.about }}</textarea>

        <textarea name="resume_text" placeholder="Resume текст" style="min-height:140px;">{{ profile.resume_text }}</textarea>

        <textarea name="portfolio_text" placeholder="Portfolio текст" style="min-height:140px;">{{ profile.portfolio_text }}</textarea>

        <div style="background:#ffffffa8;border:1px solid #0f172a20;border-radius:14px;padding:14px;">
          <b>Фото профиля</b><br><br>
          <input type="file" name="photo">
        </div>

        <button class="btn btn-black" type="submit">Сохранить изменения</button>
      </div>

    </form>

  </div>

</div>
{% endblock %}